// Dark Theme
:root[theme="dark"] {
  --logoColor3: #FFFFFF;
  --primaryBackground: #1e1e1e;
  --accentColor: #00aeef;
  --secondaryBackground: #262626;
  --headerColor: #333333;
  --primaryColor: #d9d9d9;
  --buttonColor: #ff6b6b;
  --borderColor: #808080;
  --footerBackground: #1e1e1e;
}

// Dark Theme for Taste Hub Website:

// Primary Background: Deep Charcoal (#1E1E1E) - A rich dark background that sets the tone for the dark theme.
// Header and Navigation: Dark Slate Gray (#333333) - Offers a subtle contrast with the background while maintaining clarity.
// Primary Text: Light Gray (#D9D9D9) - Ensures legibility and reduces eye strain against the dark background.
// Accent Color: Electric Blue (#00AEEF) - Provides a vibrant and engaging color for highlights and interactive elements.
// Secondary Background: Dark Gray (#262626) - Adds depth and separates content sections while maintaining the dark theme.
// Calls to Action: Vivid Coral (#FF6B6B) - A striking color that grabs attention and encourages user engagement.
// Borders and Dividers: Medium Gray (#808080) - Subtle separations between elements that fit well within the dark theme.
// Footer Background: Deep Charcoal (#1E1E1E) - Continues the theme and creates a seamless visual experience.
