// Light Theme
:root[theme="light"] {
  --logoColor3: #00352e;
  --primaryBackground: #f9f9f9;
  --accentColor: #00a8b5;
  --secondaryBackground: #e5e5e5;
  --headerColor: #ffffff;
  --primaryColor: #333333;
  --buttonColor: #5dbb63;
  --borderColor: #c0c0c0;
  --footerBackground: #f5f3e6;
}

// Light Theme for Taste Hub Website:

// Primary Background: Soft Ivory (#F9F9F9) - A light and neutral background that provides a clean and inviting base.
// Header and Navigation: Crisp White (#FFFFFF) - Creates a clear distinction from the background and enhances navigation elements.
// Primary Text: Charcoal Gray (#333333) - Ensures readability and a balanced contrast with the light background.
// Accent Color: Vibrant Teal (#00A8B5) - Adds a touch of energy and excitement to key elements like buttons and highlights.
// Secondary Background: Pale Gray (#E5E5E5) - Offers subtle differentiation for sections and helps maintain visual hierarchy.
// Calls to Action: Fresh Green (#5DBB63) - A refreshing color that draws attention and encourages user interaction.
// Borders and Dividers: Light Steel Gray (#C0C0C0) - Provides separation between elements while maintaining a cohesive feel.
// Footer Background: Light Beige (#F5F3E6) - Warm and inviting, creating a sense of completion at the bottom of the page.
