// Colors
$white: #ffffff;
$black: #000000;
$logoColor1: #ff6b5c;
$logoColor2: #00bebf;

$logoColor3: var(--logoColor3);
$primaryBackground: var(--primaryBackground);
$accentColor: var(--accentColor);
$secondaryBackground: var(--secondaryBackground);
$headerColor: var(--headerColor);
$primaryColor: var(--primaryColor);
$buttonColor: var(--buttonColor);
$borderColor: var(--borderColor);
$footerBackground: var(--footerBackground);
